html{
    background-image: url("images/b2.jpg");;
}
h1.solid {border-style: solid;}
h2.solid {border-style: solid;}
h3.solid {border-style: solid;}
h4.solid {border-style: solid;}
h5.solid {border-style: solid;}


